<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028339126232-sjprr5g97hie8ul5tu40a53lkgr49cnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028339126232-sjprr5g97hie8ul5tu40a53lkgr49cnk</string>
	<key>API_KEY</key>
	<string>AIzaSyCOTOv2dWGzZITav7TNSLtuZ8f3g9bu_5E</string>
	<key>GCM_SENDER_ID</key>
	<string>1028339126232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techfriday.tasksheet.Timesheet-AK</string>
	<key>PROJECT_ID</key>
	<string>timesheet-444cf</string>
	<key>STORAGE_BUCKET</key>
	<string>timesheet-444cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028339126232:ios:65900997e4ea114ca22cad</string>
</dict>
</plist>